/**
    Google Fonts
**/

/********************************
    Custom Styles - Header
*********************************/
.km_main-menu  li a,
.km_main-menu a{
    text-transform: uppercase;
    font-size: 14px!important;
    font-weight: 600;
    letter-spacing: .1rem;
}
.km_page-title #page-title {
    background: #1C2839!important;
}
.km_page-title h1 {
    color: #e42555;
    font-style: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
}
/********************************
    Custom Styles - Fields
*********************************/

.product-info h2,
span.fieldset-legend  {
  font-weight: 600;
}
span.fieldset-legend {
  font-size: 1.3rem;
}

.product-attributes .field-label,
.product-attributes .field-item {
    display: inline;
}
.product-teaser-wrap .field-field-q,
.product-teaser-wrap .field-field-gross-weight,
.product-teaser-wrap .field-field-size-len,
.product-teaser-wrap .field-field-size-ci,
.product-teaser-wrap .field-field-manufacturer,
.product-teaser-wrap .field-field-category,
.product-teaser-wrap .field-field-size,
.product-teaser-wrap .field-field-material,
.product-teaser-wrap .field-field-power,
.product-teaser-wrap .field-field-packaging,
.product-teaser-wrap .field-field-flavor,
.product-teaser-wrap .field-field-purpose,
.product-teaser-wrap .field-field-display,
.product-teaser-wrap .field-field-included,
.product-teaser-wrap .field-field-video,
.product-teaser-wrap .field-field-feature,
.product-teaser-wrap .field-field-how-to-use,
.product-teaser-wrap .field-field-how-to-clean {
    display: none;
}
.product-teaser-wrap .product-manufacturer-main {
    display: block;
}
.product-teaser-wrap .product-title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
}
.product-teaser-wrap .product-manufacturer .taxonomy-term.vocabulary-brand h2{
    line-height: normal;
    font-size: 22px;
    padding: 5px;
    margin-bottom: 5px;
}
.product-teaser-wrap .product-flag-icon i, .product-flag-icon a {
    color: #e42555;
}
.product-attributes-heading h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
.post-image .bootstrap-basic-image-gallery .thumbnails .thumb img {
    max-width: 40%;
    height: auto;
}
/*.owl-carousel .owl-item img{
	width: 75%!important;
}*/

/********************************
    Custom Styles - Footer
*********************************/
.km_footer .block-title {
    text-transform: uppercase;
    font-size: 13px!important;
    font-weight: 600;
    letter-spacing: .1rem;
}

/********************************
    Custom Styles - Product Images
*********************************/
div.bootstrap-basic-image-gallery .thumbnails{
  margin: 20px 0;
}




/********************************
    Custom Styles - Commerce Form
*********************************/
.checkout-pane iframe#square-card-number.sq-input,
.checkout-pane iframe#square-expiration-date.sq-input,
.checkout-pane iframe#square-cvv.sq-input{
    height: 2.9em!important;
    padding: 10px;
}
label[for=edit-payment-information-payment-method-8],
label[for^=edit-payment-information-payment-method-8-],
label[for=edit-payment-information-payment-method-new-paypal-checkout-paypal-checkout],
label[for^=edit-payment-information-payment-method-new-paypal-checkout-paypal-checkout-]{
    text-indent: -9999px;
    background-image: url(../images/shop/paypay-logo-label.png);
    height: 50px;
    width: 80%;
    background-position: 10% -20%;
    background-repeat: no-repeat;
}
label[for=edit-payment-information-payment-method-new-credit-card-square],
label[for^=edit-payment-information-payment-method-new-credit-card-square-]  {
    background-image: url(../images/shop/popular_credit-card-icons-246.png);
    height: 50px;
    width: 95%;
    background-position: 400px -10px;;
    background-repeat: no-repeat;
}
/*div.js-form-item.form-item.js-form-type-radio.form-item-payment-information-payment-method.js-form-item-payment-information-payment-method
{
    border-bottom: 1px solid #999999;
}*/
#edit-payment-information-add-payment-method-billing-information p {
    font-weight: 600;
}
.checkout-pane-payment-information legend:nth-child(1) {
    font-weight: 600;
    /*padding-top: 55px;*/
    line-height: 3px;
}
.checkout-pane-payment-information{
    background: #E8E8E8;
    padding: 5% 3%;
}
